@model IEnumerable<SalesWebApp.Models.SalesRecord>

@{
    ViewData["Title"] = "Simple Search";
}

<h1>@ViewData["Title"]</h1>
<nav class="navbar navbar-expand-sm bg-primary">
    <div class="container-fluid">
        <form role="search">
            <div class="btn-group-lg">
                <div class="text-light btn-group">
                    <label for="minDate">Min Date</label>
                    <input type="date" class="form-control" name="minDate" value=@ViewData["minDate"] />
                </div>
                <div class="text-light btn-group">
                    <label for="maxDate">Max Date</label>
                    <input type="date" class="form-control" name="maxDate" value=@ViewData["maxDate"] />
                </div>
                <button type="submit" class="btn btn-info btn-group">Filter</button>
            </div>
        </form>
    </div>
</nav>
<div class="bg-secundary card mb-3">
    <div class="card-header">
        <h3>Total sales = @Model.Sum(obj => obj.Amount).ToString("F2")</h3>
    </div>
    <div>
        <table class="table table-striped table-hover">
            <thead>
                <tr class="table-info">
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Seller)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Seller.Department)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Seller.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Seller.Department.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
